<div id="plantTableHead">
  
</div>
<table id="plants_table" class="table table-bordered table-striped">
  <thead >
    <tr>
      <th>Common Name</th>
      <th>Genus species</th>
      <% if current_user %>
        <th></th>
        <% if current_user.admin? %>
          <th></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody id="plantIndex">
  </tbody>  
</table>
<% content_for :custom_js do %>
  <script type="text/javascript" charset="utf-8">
    var plants = new Plants();
    plants.reset(<%= raw(@plants.to_json) %>);
  </script>

  <% if current_user.blank? %>
    <style type="text/css" media="all">
      .edit-plant{display: none;}
    </style>
  <% end -%>
<% end -%>
